<div>
    <div class="d-flex flex-row justify-content-center">
        <mat-card class="mb-4 mat-card">
            <mat-card-content>
                <form [formGroup]="changeLockerAdd" (ngSubmit)="changeLockerAddSubmit()">
                    <h3 class="text-center">עדכון כתובת משלוח
                        משלוח מספר: O12345
                    </h3>
                    <p class="text-center">שיטת המשלוח של החבילה שנשלחה אליך שונתה.
                        לצורך השלמת ביצוע המשלוח, נא להכניס פרטי כתובת משלוח.</p>
                    <div class="row mb-3">
                        <div class="col-md-8">
                            <input type="text" class="form-control form-control-sm w-100" formControlName="fullName"
                                [ngClass]="{'is-invalid':changeLockerAdd.controls['fullName'].touched && changeLockerAdd.controls['fullName'].invalid}" />

                            <!-- <small
                                *ngIf="changeLockerAdd.controls['fullName'].invalid && (changeLockerAdd.controls['fullName'].dirty || changeLockerAdd.controls['fullName'].touched)"
                                class="invalid-feedback">
                                שם פרטי ושם משפחה
                            </small> -->
                        </div>
                        <div class="col-md-4">
                            <label class="col-form-label text-end">
                                שם פרטי ושם משפחה
                            </label>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-8">
                            <input type="text" class="form-control form-control-sm w-100" formControlName="mobilePhone"
                                [ngClass]="{'is-invalid':changeLockerAdd.controls['mobilePhone'].touched && changeLockerAdd.controls['mobilePhone'].invalid}" />

                            <!-- <small
                                *ngIf="changeLockerAdd.controls['mobilePhone'].invalid && (changeLockerAdd.controls['mobilePhone'].dirty || changeLockerAdd.controls['mobilePhone'].touched)"
                                class="invalid-feedback">
                                מספר טלפון נייד
                            </small> -->
                        </div>
                        <div class="col-md-4">
                            <label class="col-form-label text-end">
                                מספר טלפון נייד
                            </label>
                        </div>

                    </div>
                    <div class="row mb-3">
                        <div class="col-md-8">
                            <input type="text" class="form-control form-control-sm w-100" formControlName="streetHouseNum"
                                [ngClass]="{'is-invalid':changeLockerAdd.controls['streetHouseNum'].touched && changeLockerAdd.controls['streetHouseNum'].invalid}" />

                            <!-- <small
                                *ngIf="changeLockerAdd.controls['streetHouseNum'].invalid && (changeLockerAdd.controls['streetHouseNum'].dirty || changeLockerAdd.controls['streetHouseNum'].touched)"
                                class="invalid-feedback">
                                רחוב ומספר בית
                            </small> -->
                        </div>
                        <div class="col-md-4">
                            <label class="col-form-label text-end">
                                רחוב ומספר בית
                            </label>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-8">
                            <input type="text" class="form-control form-control-sm w-100" formControlName="city"
                                [ngClass]="{'is-invalid':changeLockerAdd.controls['city'].touched && changeLockerAdd.controls['city'].invalid}" />
                            <!-- 
                            <small
                                *ngIf="changeLockerAdd.controls['city'].invalid && (changeLockerAdd.controls['city'].dirty || changeLockerAdd.controls['city'].touched)"
                                class="invalid-feedback">
                                עיר
                            </small> -->

                        </div>
                        <div class="col-md-4">
                            <label class="col-form-label text-end">
                                עיר
                            </label>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-8">
                            <input type="text" class="form-control form-control-sm w-100" formControlName="notesMessenger"
                                [ngClass]="{'is-invalid':changeLockerAdd.controls['notesMessenger'].touched && changeLockerAdd.controls['notesMessenger'].invalid}" />

                            <!-- <small
                                *ngIf="changeLockerAdd.controls['notesMessenger'].invalid && (changeLockerAdd.controls['notesMessenger'].dirty || changeLockerAdd.controls['notesMessenger'].touched)"
                                class="invalid-feedback">
                                הערות לשליח
                            </small> -->
                        </div>
                        <div class="col-md-4">
                            <label class="col-form-label text-end">
                                הערות לשליח
                            </label>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                            <select class="form-select form-select-sm text-end mb-3" formControlName="splitPoint"
                                [ngClass]="{'is-invalid':changeLockerAdd.controls['splitPoint'].touched && changeLockerAdd.controls['splitPoint'].invalid}">
                                <option value="נקודת חלוקה - 1" class="form-select form-select-sm">נקודת חלוקה - 1
                                </option>
                                <option value="נקודת חלוקה - 2" class="form-select form-select-sm">נקודת חלוקה - 2
                                </option>
                                <option value="נקודת חלוקה - 3" class="form-select form-select-sm">נקודת חלוקה - 3
                                </option>
                                <option value="נקודת חלוקה - 4" class="form-select form-select-sm">נקודת חלוקה - 4
                                </option>
                                <option value="נקודת חלוקה - 5" class="form-select form-select-sm">נקודת חלוקה - 5
                                </option>
                            </select>

                            <!-- <small
                                *ngIf="changeLockerAdd.controls['splitPoint'].invalid && (changeLockerAdd.controls['splitPoint'].dirty || changeLockerAdd.controls['splitPoint'].touched)"
                                class="invalid-feedback">
                                בחר נקודת חלוקה
                            </small> -->
                        </div>
                        <div class="col-md-4">
                            <label cLabel class="col-form-label text-end">
                                בחר נקודת חלוקה
                            </label>
                        </div>
                    </div>


                    <div class=" d-flex justify-content-center">
                        <button type="button" class="btn btn-secondary text-white" routerLink="/">
                            Cancel
                        </button>
                        <button type="submit" class="btn btn-primary text-white mx-1"
                            [disabled]="changeLockerAdd.invalid">
                            Update
                        </button>
                    </div>
                </form>
            </mat-card-content>
        </mat-card>
    </div>
</div>